frontend_AI_Podcast_Generator.json
{
  "name": "frontend_AI_Podcast_Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer. Create engaging, informative podcast content based on the given topic:{{ $json.body.text }} . Length should be 2 minute when spoken. Just give the content only without labelling"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "338d24e8-3dcc-4124-8504-f4839dd757d8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        224
      ],
      "id": "c4a99fac-a8b0-4e15-93d3-6d59fbf5807a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UaZA3NzuQaufnzgU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_8142748f-bafc-41f4-bba8-c10be0e46094"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Terrell"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "6728461c-f469-4128-98dc-f5279ab98491",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        0
      ],
      "id": "150e08f8-e4bd-406d-a359-b8c4405e09ef",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        0
      ],
      "id": "73731333-eba1-42cb-b9cd-3f61303bfb4f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6cd315cc-ff9b-467e-b484-77bdc5ffacaa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "775ca635-0388-45a8-b851-cc9e39c9b6b9",
      "name": "Webhook",
      "webhookId": "6cd315cc-ff9b-467e-b484-77bdc5ffacaa"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d88548f-cbbf-466a-ba21-2521c30b2dff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c986131a23381663f28cd82f09eaac50608744073ccb734a0419308fc2b415c1"
  },
  "nodeGroups": [],
  "id": "nu7JyWaDwx1xmwhz",
  "tags": []
}